@(message: String)(dbList: java.util.List[String])(dbname: String)(tbList: java.util.List[String])(preview: java.util.List[java.util.List[String]])(queryAns: java.util.List[java.util.List[String]])

@main("Welcome to dbVision") {

    @message
    <br/>
    <div id="output"></div>
    <form action="@routes.Application.index()"><button type="submit">Reset</button></form>

        <select id="dbNameList">
            @for(name <- dbList) {
                <option value="@name">@name</option>
            }
        </select>
    <button type="button" class="clickable" id="dbSelection">Select</button>

    <form action="@routes.Application.previewTb()" method="post">
        <select id="tableList" name="tbname"></select>
        <input type="submit" value="preview">
    </form>
    @if(preview != null) {
        <table border="1">
        @for(i <- 0 until preview.size) {
            @if(i == 0) {
                <tr>
                @for(s <- preview.get(i)) {
                    <th>@s</th>
                }
                </tr>
            }
            @if(i != 0) {
                <tr>
                @for(s <- preview.get(i)) {
                    <td>@s</td>
                }
                </tr>
            }
        }
        </table>
    }
    <form action="@routes.Application.query()" method="post">
        <label>Select</label>
        <input type="text" name="select"/>
        <br/>
        <label>From</label>
        <input type="text" name="from" />
        <br/>
        <label>Where</label>
        <input type="text" name="where"/>
        <br/>
        <label>Group By</label>
        <input type="text" name="group"/>
        <br/>
        <label>Order By</label>
        <input type="text" name="order"/>
        <br/>
        <label>Limit</label>
        <input type="text" name="order"/>
        <br/>
        <button>Query</button>
    </form>

    @if(queryAns != null) {
        <table border="1">
            <tr>
                @for(i <- 0 until queryAns.size) {
                    <th>@queryAns.get(i).get(0)</th>

                }
            </tr>
            @for(i <- 1 until queryAns.get(0).size) {
                <tr>
                    @for(j <- 0 until queryAns.size) {
                        <td>@queryAns.get(j).get(i)</td>
                    }
                </tr>
            }
        </table>
    }
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    @if(queryAns != null) {
        <script>
                //difine data for visi
                var dataset = @queryAns.get(0);
                var dataset2 = @queryAns.get(1);

                //SVG size
                var width = 1200;
                var height = 400;

                //add a SVG in body
                var svg = d3.select("body")
                        .append("svg")
                        .attr("width", width)
                        .attr("height", height);

                //SVG pardding
                var padding = {left:60, right:30, top:20, bottom:20};

                //x scale
                var xScale = d3.scale.ordinal()
                        .domain(d3.range(dataset.length))
                        .rangeRoundBands([0, width - padding.left - padding.right]);

                //y scale
                var yScale = d3.scale.linear()
                        .domain([0,d3.max(dataset)])
                        .range([height - padding.top - padding.bottom, 0]);

                //define xAxis
                var xAxis = d3.svg.axis()
                        .scale(xScale)
                        .orient("bottom");

                //define yAxis
                var yAxis = d3.svg.axis()
                        .scale(yScale)
                        .orient("left");

                //rectangle padding
                var rectPadding = 4;

                //add rectangle
                var rects = svg.selectAll(".MyRect")
                        .data(dataset)
                        .enter()
                        .append("rect")
                        .attr("class","MyRect")
                        .attr("transform","translate(" + padding.left + "," + padding.top + ")")
                        .attr("x", function(d,i){
                            return xScale(i) + rectPadding/2;
                        } )
                        .attr("y",function(d){
                            return yScale(d);
                        })
                        .attr("width", xScale.rangeBand() - rectPadding )
                        .attr("height", function(d){
                            return height - padding.top - padding.bottom - yScale(d);
                        });

                //add texts
                var texts = svg.selectAll(".MyText")
                        .data(dataset)
                        .enter()
                        .append("text")
                        .attr("class","MyText")
                        .attr("transform","translate(" + padding.left + "," + padding.top + ")")
                        .attr("x", function(d,i){
                            return xScale(i) + rectPadding/2;
                        } )
                        .attr("y",function(d){
                            return yScale(d);
                        })
                        .attr("dx",function(){
                            return (xScale.rangeBand() - rectPadding)/2;
                        })
                        .attr("dy",function(d){
                            return 20;
                        })
                        .text(function(d){
                            return d;
                        });

                //add xAxis
                svg.append("g")
                        .attr("class","axis")
                        .attr("transform","translate(" + padding.left + "," + (height - padding.bottom) + ")")
                        .call(xAxis);

                //add yAxis
                svg.append("g")
                        .attr("class","axis")
                        .attr("transform","translate(" + padding.left + "," + padding.top + ")")
                        .call(yAxis);

        </script>

    }

    <script type="text/javascript">
            $("#dbNameList").change(changed);
            var successFn = function(data) {
                var oldTableList = document.getElementById("tableList");
                oldTableList.options.length = 0;
                for(var i in data) {
                    for (var key in data[i]) {
                        var newTableList = document.getElementById("tableList");
                        newTableList.add(new Option(data[i][key],data[i][key]));
                        console.debug("Success:");
                        console.debug(data[i][key]);
                    }
                }
                console.debug("Success:");
                console.debug(data);
            };
            var errorFn = function(err) {
                console.debug("Error:");
                console.debug(err);
            }

            ajax1 = {
                success: successFn,
                error: errorFn
            }
            function changed(){
                var databaseName = $("#dbNameList").val();
                jsRoutes.controllers.Application.getTableList(databaseName).ajax(ajax1);
            }
    </script>
}
