@(dbList: java.util.List[String])(dbname: String)(queryAns: java.util.List[java.util.List[String]])

@main("Welcome to ClusterDB") {

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Database List</h3>
                    </div>
                    <ul class="list-group" id="dbNameList">
                        @for(name <- dbList) {
                            <li id="@name" class="list-group-item clickable" id="@name">@name</li>
                        }
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Table List</h3>
                    </div>
                    <ul class="list-group" id="tableList"></ul>
                </div>
            </div>


            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="sub-header">Table Preview</h3>
                <div>
                    <h4>Choose a database, preview table schema and contents here!</h4>
                    <div class="sqlresultDiv" id="previewTableHolder"></div>
                </div>
                <h3 class="sub-header">SQL Input</h3>
                <div class="input-group">
                    <input type="text" class="form-control" id="sqlInput" placeholder="Write SQL here...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="submitSql">Go!</button>
                    </span>
                </div>
                <div data-role="fieldcontain">
                    <div class="input-group">
                    <script type="text/javascript">
                            function updateTextInput(val) {
                                document.getElementById('tradeOff').value = 1;
                            }
                    </script>
                    <!--label for="slider">Diversity:</label-->
                        <!--input type="range" name="slider" id="slider" value="0" min="0" max="1" step="0.01" onchange="updateTextInput(this.value);"/-->
                        <label for="k">#Cluster</label>
                        <input type="number" id="topk" value="5">
                        <label for="k">Coverage</label>
                        <input type="number" id="cov" value="20">
                        <label for="k">Distance</label>
                        <input type="number" id="dist" value="3">
                        <label for="k">Algorithm</label>
                        <input type="text" id="algo" value="BF">
                    </div>
                </div>
                <h3 class="sub-header">SQL Result</h3>
                <div>
                    <h4>After run SQL, Graph Shows here!</h4>
                    <div class="sqlresultDiv" id="sqlResultHolder"></div>
                </div>
            </div>
        </div>
    </div>

}
