@(dbList: java.util.List[String])(dbname: String)(queryAns: java.util.List[java.util.List[String]])

@main("Welcome to DataExplorer") {

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Database List</h3>
                    </div>
                    <ul class="list-group" id="dbNameList">
                        @for(name <- dbList) {
                            <li id="@name" class="list-group-item clickable" id="@name">@name</li>
                        }
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Table List</h3>
                    </div>
                    <ul class="list-group" id="tableList"></ul>
                </div>
            </div>


            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="sub-header">Table Preview</h3>
                <div id="previewTableHolder">
                    <h4>Choose a database, preview table schema and contents here!</h4>
                </div>
                <h3 class="sub-header">SQL Input</h3>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Write SQL here...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
                <h3 class="sub-header">Graph Result</h3>
                <div id="graphHolder">
                    <h4>After run SQL, Graph Shows here!</h4>
                </div>

                <h3 class="sub-header">Ask Questions</h3>
                <div id="questionHolder">
                    <h4>Choose two bar in the graph, ask questions about them!</h4>
                </div>

                <h3 class="sub-header">Explanation</h3>
                <div id="explanationHolder">
                    <div data-role="fieldcontain">
                        <script type="text/javascript">
                                function updateTextInput(val) {
                                    document.getElementById('textInput').value=val;
                                }
                        </script>
                        <label for="slider">Diversity:</label>
                        <input type="range" name="slider" id="slider" value="0" min="0" max="1" step="0.01" onchange="updateTextInput(this.value);"/>
                        <input type="text" id="textInput" value="">
                    </div>

                </div>

            </div>
    </div>

    <form action="@routes.Application.query()" method="post">
        <label>Select</label>
        <input type="text" name="select"/>
        <br/>
        <label>From</label>
        <input type="text" name="from" />
        <br/>
        <label>Where</label>
        <input type="text" name="where"/>
        <br/>
        <label>Group By</label>
        <input type="text" name="group"/>
        <br/>
        <label>Order By</label>
        <input type="text" name="order"/>
        <br/>
        <label>Limit</label>
        <input type="text" name="order"/>
        <br/>
        <button>Query</button>
    </form>

    @if(queryAns != null) {
        <table border="1">
            <tr>
                @for(i <- 0 until queryAns.size) {
                    <th>@queryAns.get(i).get(0)</th>

                }
            </tr>
            @for(i <- 1 until queryAns.get(0).size) {
                <tr>
                    @for(j <- 0 until queryAns.size) {
                        <td>@queryAns.get(j).get(i)</td>
                    }
                </tr>
            }
        </table>
    }
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    @if(queryAns != null) {
        <script>
                //difine data for visi
                var dataset = @queryAns.get(0);
                var dataset2 = @queryAns.get(1);

                //SVG size
                var width = 1200;
                var height = 400;

                //add a SVG in body
                var svg = d3.select("body")
                        .append("svg")
                        .attr("width", width)
                        .attr("height", height);

                //SVG pardding
                var padding = {left:60, right:30, top:20, bottom:20};

                //x scale
                var xScale = d3.scale.ordinal()
                        .domain(d3.range(dataset.length))
                        .rangeRoundBands([0, width - padding.left - padding.right]);

                //y scale
                var yScale = d3.scale.linear()
                        .domain([0,d3.max(dataset)])
                        .range([height - padding.top - padding.bottom, 0]);

                //define xAxis
                var xAxis = d3.svg.axis()
                        .scale(xScale)
                        .orient("bottom");

                //define yAxis
                var yAxis = d3.svg.axis()
                        .scale(yScale)
                        .orient("left");

                //rectangle padding
                var rectPadding = 4;

                //add rectangle
                var rects = svg.selectAll(".MyRect")
                        .data(dataset)
                        .enter()
                        .append("rect")
                        .attr("class","MyRect")
                        .attr("transform","translate(" + padding.left + "," + padding.top + ")")
                        .attr("x", function(d,i){
                            return xScale(i) + rectPadding/2;
                        } )
                        .attr("y",function(d){
                            return yScale(d);
                        })
                        .attr("width", xScale.rangeBand() - rectPadding )
                        .attr("height", function(d){
                            return height - padding.top - padding.bottom - yScale(d);
                        });

                //add texts
                var texts = svg.selectAll(".MyText")
                        .data(dataset)
                        .enter()
                        .append("text")
                        .attr("class","MyText")
                        .attr("transform","translate(" + padding.left + "," + padding.top + ")")
                        .attr("x", function(d,i){
                            return xScale(i) + rectPadding/2;
                        } )
                        .attr("y",function(d){
                            return yScale(d);
                        })
                        .attr("dx",function(){
                            return (xScale.rangeBand() - rectPadding)/2;
                        })
                        .attr("dy",function(d){
                            return 20;
                        })
                        .text(function(d){
                            return d;
                        });

                //add xAxis
                svg.append("g")
                        .attr("class","axis")
                        .attr("transform","translate(" + padding.left + "," + (height - padding.bottom) + ")")
                        .call(xAxis);

                //add yAxis
                svg.append("g")
                        .attr("class","axis")
                        .attr("transform","translate(" + padding.left + "," + padding.top + ")")
                        .call(yAxis);

        </script>

    }


}